<section class="bg-danger">
  <div class="container">
    <div class="row top-bar pb-2 pt-2 mx-5">
      <div class="col">
        <div class="row">
          <div class="col ml-5"> 
            <span class="text-white">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a  class="text-white" href="info@familycarehospitals.com"><span>info@familycarehospitals.com</span></a>
          </span>
        </div>
          <div class="col mr-5"> 
            <span class="text-white">
            <i class="fa fa-phone" aria-hidden="true">
           <span> Mira road : 022 - 4162 0831, Mahim : 022 - 4162 0832</span></i> 
          </span></div>
        </div>
       
       
      </div>
      <div class="col text-right">
       <span class="text-white"> Follow Us </span>
        <span class="text-white">
          <a href="#" class="text-white"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </span>
        <span class="text-white">
          <i class="fa fa-instagram" aria-hidden="true"></i>

        </span>
        <span class="text-white">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
        <span class="text-white">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
        <span class="text-white">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </span>
      </div>
      <!-- <div class="col text-right">
        <span class="text-white">Follow Us</span>
        <span><img src="src/assets/facebook.svg"  width= '40%' height='8%'></span>
        <span><img src=""></span>
        <span><img src=""></span>
      </div> -->
    </div>
  </div>
</section>
<header>
  <nav>
    <!-- <div class="logo"><span class=""><img src="src\assets/logo.png" style="height: 80px; width: 200px;"></span></div> -->
    <div class="menu">
      <!-- <div class="logo"> -->
       
      <!-- </div> -->
      <ul class="nav justify-content-end">
        <li> <span class=""><img src="src\assets/logo.png" style="height: 80px; width: 200px;"></span></li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">SERVICES</a>
           </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">SPECIALIST</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">DOCTORS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIBRARY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
         <div class="item active">
            <img src="src/assets/home_banner.jpg" alt="Los Angeles">
            <div class="carousel-caption">
              <h1>Caring  for your life, <br> just like you do</h1>
            </div>
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  <div class="row1 d-none d-sm-block d-sm-none d-md-block">
  <div class="row first">
      <div class="offset-3 col-lg-2 gradient mr-4"  > 
        <div class="row">
            <div class="col-lg-2">
              <div class="card-image mt-3">
                <img src="src/assets/medical-appointment.svg" alt="...">
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <p class="card-title">Make an Appointment with Doctor</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
              <h4 class="card-text">Appointment</h4>
              </div>
              <div class="col-lg-2">
                <img src="src/assets/right-arrow.svg">
              </div>
         </div>
      </div>
      <div class="col-lg-2 gradient mr-4">
        <div class="row">
          <div class="col-lg-2">
          <div class="card-image mt-3">
                <img src="src/assets/medicine.svg" alt="...">
              </div>
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <p class="card-title">Order your Medicines Online</p>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <h4 class="card-text">Medicines</h4>
          </div>
          <div class="col-lg-2">
            <img src="src/assets/right-arrow.svg">
          </div>
        </div>
      </div>
          <div class="col-lg-2 gradient mr-4">
            <div class="row">
              <div class="col-lg-2">
              <div class="card-image mt-3">
                    <img src="src/assets/microscope.svg" alt="...">
                  </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="card-body">
                      <p class="card-title">Book your Medical Tests Online</p>
                      <!--
                       -->
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <h4 class="card-text">Pathology</h4>
                  </div>
                  <div class="col-lg-2">
                    <img src="src/assets/right-arrow.svg">
                  </div>
                </div>
          </div>
            <div class="col-lg-2 gradient mr-4">
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="card-image mt-3">
                        <img src="assets/online-order.svg" alt="...">
                      </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                          <p class="card-title">Book Online</p>
                        </div>
                    </div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-lg-8">
                      <h4 class="card-text">Online Booking</h4>
                    </div>
                    <div class="col-lg-2">
                      <img src="src/assets/right-arrow.svg">
                    </div>
                  </div>
            </div>
  </div>
</div>
<!-- Hide-on-Large-only -->
<div class="row d-lg-none .d-xl-none">
  <div class="col-sm-4 gradient mx-5 my-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-image mt-3">
          <img src="src/assets/medical-appointment.svg" alt="...">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <p class="card-title">Make an Appointment with Doctor</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
          <h4 class="card-text">Appointment</h4> 
          </div>
          <div class="col-sm-2">
            <i  style="width: 30px; color:red;" class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
     </div>
  </div> 
  <div class="col-sm-4 gradient mx-5 my-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-image mt-3">
          <img src="src/assets/medicine.svg" alt="...">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <p class="card-title">Order your Medicines Online</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
          <h4 class="card-text">Medicines</h4>
          </div>
          <div class="col-sm-2">
            <i  style="width: 30px;" class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
     </div>
  </div> 
  <div class="col-sm-4 gradient mx-5 my-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-image mt-3">
          <img src="src/assets/microscope.svg" alt="...">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <p class="card-title">Book your Medical Tests Online</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
          <h4 class="card-text">Pathology</h4>
          </div>
          <div class="col-sm-2">
            <i  style="width: 30px;" class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
     </div>
  </div> 
  <div class="col-sm-4 gradient mx-5 my-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-image mt-3">
          <img src="src/assets/online-order.svg" alt="...">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <p class="card-title">Book Online</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
          <h4 class="card-text">Online Booking</h4>
          </div>
          <div class="col-sm-2">
            <i  style="width: 30px;" class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
     </div>
  </div> 
</div>
<!-- End -->
 <div class="team h-100 pb-5 pt-5 bg-danger">
   <div class="row d-flex justify-content-center">
      <div class="col-lg-12 col-sm-12 px-3 py-3">
        <h2 class="text-center text-white">Our Team of EXPERTS</h2>
      </div>
    </div>
  <div class="row view mx-5">
  <div class="col-lg-3 col-md-6 col-sm-12 px-3 py-3">
    <div class="card bg-danger">
      <img class="card-img-top" src="..." alt="">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn bg-white" style="color:red">Book Appointment</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 px-3 py-3">
    <div class="card bg-danger">
      <img class="card-img-top" src="..." alt="">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn bg-white" style="color:red">Book Appointment</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 px-3 py-3">
    <div class="card bg-danger">
      <img class="card-img-top" src="..." alt="">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn bg-white" style="color:red">Book Appointment</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 px-3 py-3">
    <div class="card bg-danger">
      <img class="card-img-top" src="..." alt="">
      <div class="card-body">
        <h5 class="card-title text-white">Card title</h5>
        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn bg-white" style="color:red">Book Appointment</a>
      </div>
    </div>
  </div>
  <div class=" offset-11 col-lg-1 mt-4">
  <a href="#" mb-7px>View all > </a>
</div>
</div>
</div>
<br>
<div class="Procedure h-100 pb-5 pt-5">
  <div class="row d-flex justify-content-center">
     <div class="col-lg-12 col-md-4 col-sm-12 px-3 py-3">
       <h2 class="text-center">Procedure Library</h2>
     </div>
   </div>
 <div class="row mx-5">
 <div class="col-lg-4 col-md-4 col-sm-12 px-3 py-3">
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="btn bg-danger text-white">Read More</a>
     </div>
   </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-12 px-3 py-3">
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="btn bg-danger text-white">Read More</a>
     </div>
   </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-12 px-3 py-3">
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="#" class="btn bg-danger text-white">Read More</a>
     </div>
   </div>
  </div>
  <div class=" offset-11 col-lg-1 mt-4">
    <a href="#" class="text-danger" mb-7px>View all > </a>
  </div>
</div>
</div>
<div class="row">
  <div class=" offset-lg-1 col-lg-10">
    <h2 class="text-danger text-center pt-4">Patient Testimonial</h2>
  </div>
</div>
<div class="row">
  <!-- <div class="offset-lg-1 col-lg-5">
    <img src="src/assets/flower.jpg" width="200" height="200" class="rounded-circle img-responsive">
    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
  </div>
  <div class="offset-lg-1 col-lg-5">
    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
  </div> -->
  <div class="col-lg-6 mx-5" style="border-radius: 25px; border: 2px solid #73AD21;">
    <div class="row">
      <div class="offset-1 col-lg-3">
        <img src="src/assets/flower.jpg" width="200" height="200" class="rounded-circle img-responsive">
      </div>
      <div class="col-lg-6 mt-4">
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>

      </div>
    </div>
  </div>
  <div class="col-lg-6 mx-5" style="border-radius: 25px; border: 2px solid #73AD21;">
    <div class="row">
      <div class="offset-1 col-lg-3">
        <img src="src/assets/flower.jpg" width="200" height="200" class="rounded-circle img-responsive">
      </div>
      <div class="col-lg-6 mt-4">
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>

      </div>
    </div>
  </div>
</div>
</div>
 

  







  <div class="footer bg-danger">
    <div class="content">
      <div class="footer-col col2">
        <h4>QUICK LINKS</h4>
        <div class="ourser">
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Department and services</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Find a doctor</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-white">
      <p><i class="fa fa-phone" aria-hidden="true"></i>  &nbsp; Mira road : 022 - 4162 0831, Mahim : 022 - 4162 0832</p>
      <p><a href="#" text-white text-center>www.familycarehospitals.com</a> | Follow US</p>
    </div>
  </div>
  
  
  


<!-- <router-outlet></router-outlet> -->
  
 

